html, body {
  margin: 0;
  background-color: grey;
}

html {
  font-family: 'Bebas Neue', 'Orbitron', Arial, sans-serif;
  height: 100%;
}

body {
  overflow: hidden;
  height: inherit;
  touch-action: manipulation;
  user-select: none;
}

canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

h1, p, ul, input {
  display: none;
}

/* Ads related */
#main-container {
  position: relative;
  min-width: 450px;
  max-width: 970px;
  width: 100%;
  height: 50px;
  margin: 5px auto;
}

@media (min-width:700px) and (min-height:700px) { #main-container { height: 90px; } }

#video-container {
  position: relative;
  width: 100%;
  height: 100%;
}

#video-element, #ad-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#play-button {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 40px;
  width: 40px;
  font-weight: bold;
  font-family: courier, monospace;
  font-size: 25px;
  color: #000;
  opacity: 0.5;
  background-color: #fff;
  border-style: none;
  border-radius: 25px;
  border: 1px transparent solid;
  cursor: auto;
  line-height: 0;
}

video {
  background-color: transparent !important;
}