html, body {
  margin: 0;
  background-color: grey;
}

html {
  font-family: 'Bebas Neue', 'Orbitron', Arial, sans-serif;
  height: 100%;
}

body {
  overflow: hidden;
  height: inherit;
  touch-action: none;
}

canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

h1, p, ul, input {
  display: none;
}