html, body {
  margin: 0;
  background-color: #039595;
  background-image: url("/img/background-image.png");
  background-repeat: no-repeat;
  background-position: center;
}

html {
  font-family: 'Bebas Neue', 'Orbitron', Arial, sans-serif;
  height: 100%;
}

body {
  overflow: hidden;
  height: inherit;
  touch-action: manipulation;
  user-select: none;
}

body.blue-play-bg {
  background-image: url("/img/background-image.png"), linear-gradient(90deg, #67d7ff, #a6e4f9);
}

body.green-play-bg {
  background-color: #91d3c5;
}

body.purple-play-bg {
  background-color: #b2b3df;
}

canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

h1, p, ul, input {
  display: none;
}